extends default

block content
	.container(style='margin-left:300px')
		form(method='POST' action='/Monkeys', style='width:400px; margin: 0 auto;')
			h1 Add Monkey

			div.form-group
				input#Mname.form-control(type='text', placeholder='Nom' name='Mname')
			div.form-group
				input#age.form-control(type='number', placeholder='Age (ans)' name='age')
			div.form-group
				input#poids.form-control(type='float', placeholder='Poids (kg)' name='poids')
			div.form-group
				input#taille.form-control(type='float', placeholder='Taille (cm)' name='taille')
			div.form-group
				input#job.form-control(type='text', placeholder='Job' name='job')
			div.form-group
				input#enclo.form-control(type='number', placeholder='ID_Enclo' name='enclo')
			button.btn.btn-success Send
